# KiCad
*.bak
*.bck
*~
*-backups/
fp-info-cache
*.kicad_prl
*.lck

# VS Code Local History extension
.history/

# Gerber output
gerber/
fabrication/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# atopile
build/
.ato/
